.order-summery {
  padding: 20px;
  background-color: #fab753;
  position: sticky;
  top: 0;
}

.order-btn {
  margin-top: 20px;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;

  width: 100%;
  height: 56px;
  background: #ff9900;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: none;
}
.order-btn > a {
  color: #ffffff;
  text-decoration: none;
}
