.header {
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.tab {
  display: flex;
  color: aliceblue;
  gap: 10px;
  list-style-type: none;
  margin-right: 30px;
}
.tab a {
  color: #fff;
  text-decoration: none;
}
