.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.tab{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}
.tab>li>a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}